body{
    background-color: burlywood;
}

#title {
    text-align: center;
}
#color-palette {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.color {
    width: 40px;
    height: 40px;
    margin: 5px;
    border: black solid 1px;
}
#up {
    padding: 10px 20px;
    display: flex;
    justify-content: center;

}
#board-size {
   width: 50px;
   margin-left: 10px;
}

#pixel-board {
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
}
#one {
    display: inline
}
#two {
    display: inline
}
#three {
    display: inline
}
#four {
    display: inline
}
#five {
    display: inline
}
.pixel{
    background-color: white;
    width: 40px;
    height: 40px;
    border: 1px  solid black;
}
div.pixel.um {
    display: block;
}
div.pixel.dois{
    display: block;
}
div.pixel.tres {
    display: block;
}
div.pixel.quatro {
    display: block;
}
div.pixel.cinco {
    display: block;
}
